<main class="main">
  <div class="content">
    <div class="charts">
      <div class="titleChart">
        <h1>Gráficos com barras</h1>
      </div>
      <div class="chartsBar">
        <div class="chartBar">
          <div class="titleChart">
            <h2>Gráficos com barras lado a lado</h2>
          </div>
          <canvas id="chartBar" width="500px"></canvas>
        </div>
        <div class="chartBar">
          <div class="titleChart">
            <h2>Gráficos com barras agrupadas</h2>
          </div>
          <canvas id="chartBarGroup" width="500px"></canvas>
        </div>
      </div>
    </div>
  </div>
</main>
<router-outlet />
