<main class="main">
  <div class="content">
    <div class="charts">
      <div class="titleChart">
        <h1>Gráficos com barras</h1>
      </div>
      <div class="chartsBar">
        <div *ngFor="let chart of chartsBar; let i = index" class="chartBar">
          <canvas [id]="'chartBar' + i" width="500px"></canvas>
        </div>
        <div
          *ngFor="let chart of chartsBarGroup; let i = index"
          class="chartBar"
        >
          <canvas [id]="'chartBarGroup' + i" width="500px"></canvas>
        </div>
      </div>
    </div>
  </div>
</main>
<router-outlet />
